#root {
    font-family: 'PT Sans', sans-serif;
    background-image: url(http://res.cloudinary.com/tiptoptomes/image/upload/v1529636065/WZnjFBT-carbon-fiber-wallpaper.jpg);
    min-height: 100vh;
    color: white;
}

.main_container {
    // padding: ;
    padding-top: 3vh;
    // background-color: rgb(70, 70, 70);

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #242424;
        margin: 0 2vw;

        .logo_container {
            // display: flex;
            justify-content: center;
            margin: auto;
            
            .logo {
                display: none;
            }
            .mobile_logo {
                font-size: 40px;
            }
        }
        
        .app_nav {
            display: flex;
            justify-content: space-between;
            // margin: auto;
            padding 
            
            a {
                font-size: 24px;
                display: block;
                align-content: center;
            }
        }
    }
    
    
    .template_container {
        
        
        .field_item {
            
            // &.technique {}
            
            .field_title {
                font-size: 36px;
            }
            
            .field_body {
                
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    // .app_nav {
    //     visibility: hidden;
    // }
    .logo_container {
        display: none;
    }
}

@media only screen and (max-width: 959px) {
    .mobile_logo_container {
        display: none;
    }

    .logo_container {
        display: flex;
        justify-content: center;
        
        .logo {
            font-size: 72px;
        }
    }
}

// @media only screen and (min-width: 1399px) {
    
// }