#root {
    font-family: 'PT Sans', sans-serif;
    min-height: 100vh;
    color: white;
    background: #718387;
}

.main_container {
    // padding-top: 3vh;
    // background-color: rgb(70, 70, 70);

    .app_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #24292e;
        box-shadow: 0 0.2vh 2px #1D2226;
        margin-bottom: 2px;

        .header_frame {
            .emblem_container {
                padding: 1.5vh 0;
                justify-content: center;
                
                .emblem {
                    margin: auto;
                    height: 32px;
                    width: auto;
                }
            }
            
            .app_nav {
                padding: 0 0 2vh 7vw;
                margin: auto;
                white-space: nowrap;
                
                a {
                    font-size: 16px;
                    padding-right: 4vw;
                }
                
                .active {
                    font-weight: 700;
                }
            }
        }
    }
    
    
    .template_container {
        margin: 0 7vw;
        // background: rgb(32, 32, 32);
        
        .page_title {
            font-size: 3.5vh;
            padding: 1vh 0;
        }

        .field_item {
            padding-bottom: 3vh;
            // &.

            
            .field_title {
                font-size: 3vh;
            }
            
            .field_body {
                font-size: 14px;
            }
            
        }
    }
}

@media only screen and (min-width: 361px) {
    #root {
        background-color: rgb(82, 82, 82);
    }

    .main_container {
        .app_header {
            .header_frame {
                flex-direction: column;
                width: 85vw;
                margin: auto;
                
                .emblem_container {
                    margin: 0;
                    padding-bottom: 0;

                    .emblem {
                        height: 50px;
                    }
                }

                .app_nav{
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    align-items: center;
                    letter-spacing: 0.5px;
                    height: 7vh;

                    a {
                        display: block;
                        font-size: 28px;
                        padding: 0 15px;
                    }
                }
            }
        }
        
        .template_container {
            padding: 5px 3vw;
            
            .page_title {
                font-size: 3.5vh;
            }

            .field_item {
                .field_body {
                    font-size: 2.3vh;
                }
            }

            .request_options {
                
                .quote_request {
                    // border: 1px solid black;
                    border-radius: 5px;
                    background: #1D2226;
                    font-size: 24px;
                }
    
                .phone {
                    height: 2vh;
                    width: auto;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    #root {
        background-color: #9c9c9c;
    }
    
    .main_container {
        
        .app_header {
            
            .header_frame {
                display: flex;
                flex-direction: row;
                width: 85vw;
                margin: auto;
                justify-content: space-between;
                
                .emblem_container {
                    margin: 0;
                    // padding: 1.5vh 0;

                }
                .app_nav{
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    padding: 0;
                    align-items: center;
                    letter-spacing: 0.5px;
                    height: 7vh;

                    a {
                        display: block;
                        font-size: 18px;
                        padding: 16px 15px;
                    }
                }
            }
        }
        
        .template_container {
            background-color: rgb(82, 82, 82);
            padding: 0 3vw;
            padding-bottom: 3vh;
            min-height: 89.8vh;
            
            .page_title {
                font-size: 3.5vh;
            }

            .field_item {

                .field_body {
                    font-size: 2.3vh;
                }

            }

            .request_options {
                
                .quote_request {
                    // border: 1px solid black;
                    border-radius: 5px;
                    background: #1D2226;
                }
    
                .phone {
                    height: 2vh;
                    width: auto;
                }
            }
        }
    }
}