#root {
    font-family: 'PT Sans', sans-serif;
    min-height: 100vh;
    color: white;
    background: #718387;
}

.main_container {
    // padding-top: 3vh;
    // background-color: rgb(70, 70, 70);

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #24292e;
        box-shadow: 2px 2px 2px #1D2226;

        .logo_container {
            // display: none;
        }

        .emblem_container {
            padding: 1.5vh 0;
            justify-content: center;
            margin: auto;

            .emblem {
                font-size: 5vh;
            }
        }
        
        .app_nav {
            display: flex;
            justify-content: space-between;
            padding: 0 7vw 2vh 7vw;
            
            a {
                font-size: 3vh;
            }
        }
    }
    
    
    .template_container {
        margin: 0 7vw;
        // background: rgb(32, 32, 32);
        
        .field_item {
            padding-top: 3vh;
            // &.
            
            .field_title {
                font-size: 3vh;
            }
            
            .field_body {
                font-size: 1.01vh;
            }
        }
    }
}

@media only screen and (min-width: 361px) {
    .logo_container {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #root {
        background-image: url(http://res.cloudinary.com/tiptoptomes/image/upload/v1529636065/WZnjFBT-carbon-fiber-wallpaper.jpg);
    }

    .main_container {
        header {

            .emblem_container {
                display: none;
            }
            
            .logo_container {
                display: flex;
                justify-content: center;
                
                .logo {
                    font-size: 72px;
                }
            }
        }

        .template_container {
            background-color: rgb(82, 82, 82);
            padding: 0 3vw;
            padding-bottom: 3vh;

            .page_title {
                font-size: 3.5vh;
            }

            .field_item {

                .field_body {
                    font-size: 2.3vh;
                }
            }
        }
    }
}